<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap -->
    <%- include('partials/bootstrap') %>
    <title>GoLux!</title>
  </head>
  <body>
    <!--Navbar-->
    <%- include('partials/navbar') %>
    <!--Navbar-->
    <!--List Fleet Type-->
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col-lg-3" style="display: flex; justify-content: center; align-items: center;">
                <div class="card" style="width: 24rem;">
                    <img src="sedan.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Sedan</h5>
                      <p class="card-text">Sedan adalah sebuah jenis mobil penumpang dengan 3 macam konfigurasi dengan Pilar A, B, dan C. Bagian untuk penumpang terdiri dari 2 baris tempat duduk dengan kapasitas sampai dengan 5 orang. </p>
                      <a href="/fleet/sedan" class="btn btn-primary">See Details</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3" style="display: flex; justify-content: center; align-items: center;">
                <div class="card" style="width: 24rem;">
                    <img src="suv.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Sport Utility Vehicle</h5>
                      <p class="card-text">Kendaraan Utilitas Sport, disingkat SUV. adalah klasifikasi mobil penumpang namun dibangun di atas kerangka truk ringan. Di Indonesia, mobil yang berjenis ini sering disebut "Jip".</p>
                      <a href="/fleet/suv" class="btn btn-primary">See Details</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3" style="display: flex; justify-content: center; align-items: center;">
                <div class="card" style="width: 24rem;">
                    <img src="sports.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Sports Car</h5>
                      <p class="card-text">Definisi mobil sport sering dikaitkan dengan bagaimana desain mobil dioptimalkan untuk kinerja dinamis ( penanganan mobil ), baik Triumph Spitfire dan Ferrari 488 Pista dapat dianggap sebagai mobil sport.</p>
                      <a href="/fleet/sport" class="btn btn-primary">See Details</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3" style="display: flex; justify-content: center; align-items: center;">
                <div class="card" style="width: 24rem;">
                    <img src="minibus.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Minibus</h5>
                      <p class="card-text">Minibus digunakan untuk berbagai alasan. Dalam peran transportasi umum , mereka dapat digunakan sebagai bus transit rute tetap, bus bandara , kendaraan transportasi responsif permintaan fleksibel.</p>
                      <a href="/fleet/minibus" class="btn btn-primary">See Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--List Fleet Type-->
</body>
</html>